/* Mindfulness.css */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  font-size: var(--text-lg);
  display: inline-block;
  margin-top: var(--spacing-sm);
  color: var(--text-primary);
  font-weight: 600;
}
