/* NameTag.css */
.label-text {
  font-weight: bold;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.input-field {
  margin-top: 0px;
}

.text-input,
.select-input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 80%; /* Adjust the width as needed */
}

.block-style {
  height: 1.25rem; /* Adjust the height value to control the spacing */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked {
  color: #d68071; /* Set the color using a hex value */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked:hover {
  background-color: rgba(
    214,
    128,
    113,
    0.04
  ); /* Set the hover color using a hex value */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #d68071; /* Set the track color using a hex value */
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: flex-between;
  padding: 0;
  margin-bottom: 0.25rem;
  width: 80%;
}

/* Optional: Add a wrapper for the group of switches */
.switch-group {
  margin: 1rem 0; /* This controls spacing from input above and textarea below */
}

.submit-btn {
  padding: 0.5rem 1rem;
  background-color: #d68071;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d6624a;
}

.label-styling {
  margin-left: 0px;
}

.controller-container {
  margin: 0.25rem 0;
  padding: 0 0.3125rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.char-count {
  margin-top: 0.3125rem;
  font-size: 0.75rem;
  color: #666;
}

.char-count.warning {
  color: red;
}

.char-limit-info {
  margin-left: 0.3125rem;
  font-style: italic;
}

.warning-message {
  display: block;
  margin-top: 0.3125rem;
  color: red;
}

.hr-divider-line {
  width: 80%;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.form-field-label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.form-field-container {
  padding-bottom: 0.75rem;
}
