name: OWASP ZAP Baseline Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  pull-requests: write

jobs:
  zap-baseline:
    name: Run OWASP ZAP Baseline Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Echo environment variables
        run: |
          echo "ZOOM_WEB_APP_URL: ${{ secrets.ZOOM_WEB_APP_URL }}"

      - name: Run ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: ${{ secrets.ZOOM_WEB_APP_URL }}
          cmd_options: '-a'
          allow_issue_writing: false
          rules_file_name: '.zap/rules.tsv'
