name: Daily Report

on:
  schedule:
    # utc 1:00 AM daily
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  send-report:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Compile TypeScript
        run: npx tsc -p tsconfig.report.json

      - name: Run report script
        run: node dist/lib/report.js
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SEND_EMAIL: ${{ secrets.SEND_EMAIL }}
          SEND_EMAIL_PASSWORD: ${{ secrets.SEND_EMAIL_PASSWORD }}
          RECEIVE_EMAIL: ${{ secrets.RECEIVE_EMAIL }}
